body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.img{
    display: block;
    background-image: url("https://auth.gfx.ms/16.000.28071.00/images/Backgrounds/0.jpg?x=a5dbd4393ff6a725c7e62b61df7e72f0");            
    background-size: cover; /*necessário para a imagem caber em toda viewport*/
    width: 100vw;
    margin-top: -71.5px;
    height: 111.35vh;
    position: relative;
    z-index: -1; /*para ficar atrás do card*/
}
.pos{ /*tamanhos originais*/
    position: absolute;
    top: 20.70%; /*só funcionou por causa do position absolute*/
    left: 33.90%;
    right: 33.90%;
    width: 440px;
    height: 338px;
    z-index: 1; 
}
.margem{
    margin-top: 21px;
    margin-left: 23px;
    margin-right: 23px;
}
.caixa{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    font-size: 14px;
}
.caixa-logo{
    font-size: 18px;
    font-family: Arial;
    color: dimgray;
}
.logo{
    height: 24px;
    width: 24px;
}
.botao{
    width: 108px;
    height: 32px;
    font-size: 15px;
}
.foot{
    color: white; 
    background-color: black; 
    z-index: 0; 
    opacity: 0.6;
    height: 28px;;
    font-size: 12px;
}
.foot a{
    margin-left: 10px;
    margin-right: 10px; 
    color: #fff;
}
.foot span{
    margin-left: 10px;
    margin-right: 10px; 
}